<h1>Dashboard</h1>

<div class="row">
    <div class="col s12">
      <ul class="tabs brown lighten-4">
        <% if user_signed_in? %>
            <% if current_user.id != 1 %>
                <li class="tab col s12"><a href="#acquisti">Acquisti</a></li>
            <% end %>
        <% end %>
        <% if user_signed_in? %>
            <% if current_user.id == 1 %>
                <li class="tab col s6"><a href="#vendite">Vendite</a></li>
                <li class="tab col s6"><a href="#invendita">In Vendita</a></li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? %>
        <% if current_user.id != 1 %>
            <div id="acquisti" class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Prezzo</th>
                            <th>Data di creazione</th>
                            <th>Venditore</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @purchased.each do |purchased| %>
                            <tr>
                                <th><%= link_to purchased.content.titolo, pickup_path(purchased.guid)%></th>
                                <th><%= number_to_currency(purchased.amount / 100) %></th>
                                <th><%= time_ago_in_words(purchased.created_at) %> fa</th>
                                <th><%= purchased.email_venditore %></th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    <% end %>
    <% if user_signed_in? %>
        <% if current_user.id == 1 %>
            <div id="vendite" class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Prezzo</th>
                            <th>Data di creazione</th>
                            <th>Acquirente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @sales.each do |sale| %>
                            <tr>
                                <th><%= sale.content.titolo%></th>
                                <th><%= number_to_currency(sale.amount / 100) %></th>
                                <th><%= time_ago_in_words(sale.created_at) %> fa</th>
                                <th><%= sale.email_acquirente %></th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div id="invendita" class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Prezzo</th>
                            <th>Data di creazione</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @content.each do |content| %>
                            <tr>
                                <th><%= link_to content.titolo, content_path(content)%></th>
                                <th><%= number_to_currency(content.price) %></th>
                                <th><%= time_ago_in_words(content.created_at) %> fa</th>
                                <th><%= link_to 'Modifica', edit_content_path(content) %> | <%= link_to 'Elimina', content, method: :delete, data: { confirm: 'Sei sicuro di voler eliminare il contenuto?' } %> </th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    <% end %>
</div>